---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  <div class="articles">
    <h4>Articles</h4>

    <div class="articles-list row">
      {% for post in site.categories['article'] %}
        <div class="col s12 m3">
          <div class="card large">
            <div class="card-image">
              <img class="activator" src="{{ post.timage }}">
              <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </div>
            <div class="card-content">
              <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
              <p>{{ post.teaser }}</p>
            </div>
            <div class="card-action">
              <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="news">
    <h4>News</h4>
    <div class="news-list row">
      {% for post in site.categories['news'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="blog">
    <h4>Blogs</h4>
    <div class="blog-list row">
      {% for post in site.categories['blog'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="events">
    <h4>Events</h4>
    <div class="blog-list row">
      {% for post in site.categories['event'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="products">
    <h4>Products</h4>
    <div class="products-list row">
      {% for post in site.categories['product'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            Price: <span>{{ post.price }} $</span>
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="videos">
    <h4>Videos</h4>
    <div class="video-list row">
      {% for post in site.categories['video'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="galleries">
    <h4>Galleries</h4>
    <div class="galleries-list row">
      {% for post in site.categories['gallery'] %}
      <div class="col s12 m3">
        <div class="card large">
          <div class="card-image">
            <img class="activator" src="{{ post.timage }}">
            <a class="card-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
          <div class="card-content">
            <span><b>{{ post.author }}</b> • {{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.teaser }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
